@font-face {
    font-family: bitop;
    src: url(./fonts/8bitOperatorPlus8-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bitop;
    src: url(./fonts/8bitOperatorPlus8-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}



body {
    background-image: url(./pictures/pokemonBGRikuCrafter.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}



.header{
    font-family: bitop;
    font-size: 7vh;
    padding: 3vh;
    font-weight: bold;
    color: white;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: hsla(0 , 0% , 0% , .3 );
}


.instructions{
    font-family: bitop;
    color: white;
    display: flex;
    font-size: 3.4vh;
    margin-top: 3vh;
    justify-content: center;
}

span > img{
    height: 3.4vh;
}

.maincontent{
    flex: 1;
}

.player{
    margin: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    flex: 1 0 300px;

}


button > img{
    padding: 4vh;
    height: 22vh;
    /* width: 30vw; */

}

.player > button{
    /* border-color: #d04838; */
    border-style: solid;
    border-width: 1vh;
    border-radius: 1vh;
    transition: all .5s ease;

    /* background-color: #68a0a0; */
}


.fire{
    background-color: hsl(29,97%,65%);
    border-color: hsl(29,97%,45%);

}

.water{
    background-color: hsl(211,66%,58%);
    border-color: hsl(211,66%,48%);

}

.grass{
    background-color: hsl(112, 44%, 53%);
    border-color: hsl(112, 44%, 35%);
}


.scoreboard{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.sprite > img{
    height: 12vh;
    width: 12vh;
}


.score{
    display: flex;
    border-color: #d04838;
    border-style: solid;
    border-width: 8px;
    border-radius: 18px;
    padding: 8px;
    padding-right: 48px;
    background-color: #68a0a0;
    column-gap: 48px;
    font-family: bitop;
    color: white;

}

div > .sub_title{
    font-weight: bold;
    font-size: 3vh;
}

.name{
    font-family: bitop;
    font-size: 4vh;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}


.c_score, .p_score, .c_move, .p_move{
    font-weight: 300;
    margin: left;
    /* text-align: center; */
    /* margin-top: 20px; */
    font-size: 7vh;
}

.player_move,.computer_move, .message{
    text-align: center;
}



.footer{
    font-family: bitop;
    font-size: 2vh;
    padding: 1vh;
    font-weight: bold;
    margin-top: 2vh;
    color: white;
    display: flex;
    justify-content: center;

    background-color: hsla(0 , 0% , 0% , .3 );
}

.result{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
}

.result_mess{
    font-family: bitop;
    font-weight: bold;
    font-size: 5vh;
    color: white;
    flex:0;

}

.reset{
    visibility: hidden;
    font-family: bitop;
    font-size: 2vh;
}

.playing {
    transform: scale(1.1);
    border-color: #ebebeb;
    box-shadow: 0 0 1rem #ffffff;
  }